[Unit]
Description=Console Pi - Dang ky va giu vai tro NAP tren pan0
After=bluetooth.service bt-pan0.service
Requires=bluetooth.service bt-pan0.service
BindsTo=bluetooth.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStartPre=/usr/bin/bluetoothctl discoverable on
ExecStartPre=/usr/bin/bluetoothctl pairable on
ExecStart=/usr/bin/python3 /opt/console-pi/scripts/bt-nap-daemon.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
