# Console System - (c) 2026 zTieuYeuz. All rights reserved.
[Unit]
Description=Run WiFi Fallback every 2 minutes

[Timer]
OnBootSec=30
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target
